.box-principal{

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;

    .box-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px black solid;
        width: 50em;
        margin-top: 4em;
        height: 30em;
        box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
    }

    .box{
        display: flex;
        flex-direction: column;
        border: 1px black solid;
        width: 10em;
        align-items: center;
        height: 20em;
        box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
        
    }

}